
/* Header Beginning */
header {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  background-color: white;
}

.logo {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

nav {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 20px 10px;
}

nav ul {
  margin: 0px;
}

h2 {
  margin-top: 0px;
}

a {
  color: black;
}
/* Body Beginning*/

.main-container {
  /* position: relative; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 1323px;
  padding-top: 116px;
  margin: 0px auto 78px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.wine-image {
  background-image: url("../images/main-story.png");
  display: flex;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}


.fall-image {
  background-image: url("../images/earthspins.png");
  display: flex;
  justify-content: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.camera-image {
  background-image: url("../images/camera.png");
  display: flex;
  justify-content: center;
  text-align: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.narrative-text {
  margin: 16px auto;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.story {
  border: 2px;
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-right: 20px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
  display: flex;
}

.story.middle {
  display: flex;
  height: auto;
  margin-bottom: 20px;
}

.cat-image {
  background-image: url("../images/cat.png");
  display: flex;
  text-align: center;
  justify-content: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

span {
  display: block;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.column.small h2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}

footer nav {
  width: auto;
}

footer {
  display: flex;
  height: 350px;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer .title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline-block;
  padding-right: 25px;
}

footer a {
  color: black;
  padding: 20px 10px;
  display: inline-block;
}
