
/* Header Beginning */
header {
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  background-color: white;
}

.logo {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

nav {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 20px 10px;
}

a {
  color: black;
}
/* Body Beginning*/

.main-container {
  /* position: relative; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid black;
  width: 1323px;
  padding-top: 116px;
  margin: 0px auto 78px auto;
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-right: 32px;
}

.wine-image {
  background-image: url("../images/main-story.png");
  display: flex;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}


.fall-image {
  background-image: url("../images/earthspins.png");
  display: flex;
  justify-content: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.camera-image {
  background-image: url("../images/camera.png");
  display: flex;
  justify-content: center;
  text-align: center;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.narrative-text {
  margin: 16px auto;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.stories {
  border: 1px solid black;
  display: flex;
}

.story {
  border: 2px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

span {
  display: block;
}

.column.small {
  width: 240px;
}
